* {
    margin: 0;
    padding: 0;
}

/* standardopstilling og centrer wrapper */
body {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Placer elementer under hinanden (header, main, options) */
#app {
    width: 80%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/* Formater header */
header {
    text-align: center;
}

/* Formater main med billede til venstre og tekst til højre */
main {
    display: flex;
    gap: 1em;
}
main img {
    width: 50%;
    object-fit: cover;
}
main p {
    font-size: 1.5em;
    padding: 0.4em;
}

#options {
    display: flex;
    justify-content: space-around;
}

#options button {
    padding: 1em;
    font-size: 1em;
}

.btn-color {
    color: #928374;
}